.main{

  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 50vh;
  border: 2px solid green;

}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.textarea{
  width: 90%;
  height: 10vh;
  border: none;
  font-size: 1.5rem;
}
